<!DOCTYPE html>
<html lang="ja" ng-app>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style type="text/css">
		table {
			border: 0px;
		}
		table td {
			width:20%;
		}
		/* --- 見出しセル --- */
		.tableHeader {
			background-color: #deefff; /* 見出しセルの背景色 */
			width:20%;
		}
	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/main.js"></script>
  </head>
  <body>
  <h1>socket.ioのサンプルプログラム</h1>
  <br>
  <div ng-controller="mainCtrl">
  	<form ng-submit="send()">
		<table>
		  	<tr>
		  		<td class="tableHeader">ID</td>
		  		<td ng-bind="connectId"></td>
		  	</tr>
		  	<tr>
		  		<td class="tableHeader">TYPE</td>
		  		<td ng-bind="socketName"></td>
		  	</tr>
		  	<tr>
		  		<td class="tableHeader">接続数</td>
		  		<td ng-bind="connectCount"></td>
		  	</tr>
		  	<tr>
		  		<td class="tableHeader">メッセージ送信テスト</td>
		  		<td colspan=2>
			  		<input type="text" ng-model="msgtext">
					<input type="submit" value="メッセージを送る">
			  		<td ng-bind="message"></td>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td class="tableHeader">ループカウントテスト</td>
		  		<td>
			  		<input id="loopButton" type="button" value="スタート" ng-click="LoopTestSatrt()">
		  		</td>
		  		<td ng-bind="loopCount"></td>
		  		<td >平均時間:{{loopAve}}</td>
		  	</tr>
		  	<tr>
		  		<td class="tableHeader">redisテスト</td>
		  		<td>
			  		<input id="redisButton" type="button" value="送信" ng-click="RedisTestSatrt()">
		  		</td>
		  		<td ng-bind="redisCount"></td>
		  	</tr>
		  </table>
	</form>
	</div>
	</body>
</html>
