<!DOCTYPE html>
<html lang="ja" ng-app>
  <head>
    <title></title>
  </head>
  <body>
  	<p><% message %></p>
  	<form action="/login" method="post">
  		<p> email </p><input type="text" name="email"><br>
  		<p> password </p><input type="password" name="password">
  		<input type="submit" value="Login">
  	</form>
  </body>
</html>